*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: lightgrey;
}

header {
    background-color: rgb(51, 26, 135);
    color: white;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 1rem;
    background-color: white;
}

footer {
    background-color: rgb(57, 4, 80);
    color: white;
    padding: 1rem;
    text-align: center;
}
